html {
  box-sizing: border-box;
  background-color: #318eff;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #000000;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container{
 color: rgb(193, 18, 18);
}


Form{
  padding: 2rem;
}
input{
  padding: .5rem;
  
}
h1{
  text-align: center;
}
.characterForm{
  display: flex;
}

#root {
  background-color: #353b41;
  height: 100vh;
  width: 100vw;
} 
